.container {
    margin: 100px;
}
body {
    background-image: url(img/kenny-g.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
button {
    height: 63px;
    width: 63px;
    cursor: pointer;
    outline: none;
    border: currentColor;
}
#play {
    background-image: url('img/pause.png')
    
}
#mute {
    background-image: url('img/unmute.png');
}
input[type="range"]{
     -webkit-appearance: none;
    height: 60px;
    border-radius: 50%;
    background: rgb(197, 211, 5);
        outline: none;

}
input#musikSlider {
    width: 200px;
}
input#volumeSlider {
    width: 150px;
}
.kotakWaktu {
    display: inline-block;
    background-color: black;
    color: aliceblue;
    padding: 10px;
    text-align: center;
    position: relative;
    top: -35px;
    line-height: 40px;
    height: 40px;
}